[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FSA"]
	path = FSA
	url = https://github.com/fishr-core-team/fsa
[submodule "FSAdata"]
	path = FSAdata
	url = https://github.com/fishr-core-team/fsadata
[submodule "RFishBC"]
	path = RFishBC
	url = https://github.com/fishr-core-team/rfishbc
[submodule "rFAMS"]
	path = rFAMS
	url = https://github.com/fishr-core-team/rfams
